.cont {
  width: 100px;
  height: 100px;
  padding: 1rem;
  background: linear-gradient(hsl(240, 21%, 5%), hsl(235, 21%, 34%));
  color: hsl(345, 95%, 68%);
  font-size: 2rem;
  border-radius: 10px;
  box-shadow: -1px 9px 9px -4px rgba(0, 0, 0, 0.75);
  z-index: 1;
  display: grid;
  place-items: center;
}

.flx {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.flx > span {
  color: lightgray;
  letter-spacing: 5px;
  font-size: 18px;
}

@media screen and (max-width: 770px) {
  .cont {
    width: 30px;
    height: 30px;
    padding: 1rem;
    font-size: 1rem;
  }

  .flx > span {
    font-size: 10px;
  }
}
